* {
    box-sizing: border-box;
    padding: 10px;
}
.main-box{
    margin: 10px;
    width: 850px;
    height: 850px;
}
.first-box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
    background: purple;

}
.green-box{
    background: green;
    flex-basis: auto;
    flex-grow: 1;
}
.yellow-box{
    background: yellow;
}
.blue-box{
    background: blue;
}
.gap-10px{
    gap: 10px;
}
.box-100{
    width: 100px;
    height: 100px;
}
.box-250{
    width: 250px;
    height: 250px;
}
.display-row{
    display: flex;
    flex-direction: row;
}
.display-colomn{
    display: flex;
    flex-direction: column;
}
.j-c-s-b{
    justify-content: space-between;
}
.a-s-f-e{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.left-side{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.right-side{

    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ;
}





.second-box{
    display: flex;
    flex-direction: row;
    background: orange;
    height: auto;
}
.skin-box{
    display: flex;
    flex-direction: column;
    background: burlywood;
    flex-grow: 1;
}
.aqua-box{
    background: aqua;
    display: flex;
    flex-grow: 1;
    max-height: 100px;
    justify-self: flex-end;

}

.red-box{
    background: red;
    display: flex;
    flex-direction: column;
    flex-grow: 1;


}
.red-box:nth-child(odd){
    display: flex;
    align-self: flex-end;
}
.height-100{
    min-height: 100px;
}
.left-side-box{
    padding: 0;
    display: flex;
    flex-direction: column;
}
.green-box-2{
    background: green;

}







.third-box{
    background: red;
    display: flex;
    flex-direction: row;

}
.left-side-box{
    display: flex;
    flex-direction: column;
    padding: 0;
    flex-grow: 1;
}
.width-250{
    width: 250px;

}

.burgundy{
    background: darkred;
    min-height: 100px;
}
.yellow-box-3{
    display: flex;
    flex-direction: column;
    background: yellow;
    height: 830px;
}
.burgundy-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}
.skin-box-3{
    background: burlywood;
    display: flex;
    flex-direction: row;
    height: 100px;
}
.purple-box-container {
    display: flex;
}
.padding-0{
    padding: 0;
}
.f-d-row{
    display: flex;
    flex-direction: row;
}
.purple-box{
    background: purple;
    height: 250px;
    flex-grow: 1;
}

.height-250{
    height: 250px;
}
.turquoise{
    background: turquoise;
    display: flex;
    flex: 1 1 auto;
}
.blue-box-3{
    background: blue;
    display: flex;
    flex-grow: 1;
}










